*{
    margin: 0;
    body: 0;
    box-sizing: border-box;
}


/* Site header announcement */

header{
    width: 100%;
}

.site-header-announcement-bar{
    max-width: 100%;
    background-color: #000;
    color: #fff;
    display: block;
    height: 3rem;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.announcement-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.marketingStrip{
    font-size: 10.5px;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: 200px;
}

.site-header_store-selector{
    align-items: center;
    display: flex;
    margin-right: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 10.5px;
    font-weight: 500;
    letter-spacing: 1px;
}

.site-header_store-selector .flag-icon{
    background-size: cover;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}

.flag-icon{
    margin-right: 0.5rem;
}

.flag-icon-us {
    background-image: url(images/us-flag.png);
}

/* Navbar */

.toast-logo{
    display: block;
    margin: 1rem 1rem;
}

.site-header-masthead{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}

nav ul li .sale {
    color: #a62120;
}

.menu-hamburger{
    display: none;
}

.container{
    width: 100%;
}

.container-right{
    display: flex;
    position: absolute;
    right: 0.5em;
    top: 4.68rem;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #555;
}

.col-12{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.1;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    max-width: 100%;
}



.bag-menu-mobile{
    display: none;
}



/* Nav Dropdown menu */

.site-header-navbar{
    display: flex;
    align-items: center;
    background: transparent;
    position: relative;
    top: 2em;
    z-index: 2;
    height: 30px;
    width: 100%;
}


.nav-container{
    width: 800px;
    margin-left: 1em;
    position: relative;
    bottom: 15px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    text-align: left;
}

nav li{
    display: inline-block;
    text-align: left;
}

nav a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: .75em 0.5em;
    line-height: 1.1;
    color: #555;
    font-size: 12px;
}

nav li:hover{
    color:#fff;
}


.menu-sub {
    position: absolute;
    left: 0;
    background: #fff;
    color:#fff;
    padding: 20px 0;
    width: 100%;
    display: none;
    text-align: left;
    padding: 2em;
    z-index: 4;
}

.menu-category{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #fff;
    margin: 2.5em 0 0.8em;
    
}

.menu-category:first-of-type{
    margin: 1.5em 0;
    font-weight: 100;
    color: #555;
}


nav li:hover .menu-sub {
    display: block;
}

.menu-sub li {
    display: block;
}

.menu-sub a{
    padding: 0;
    margin-bottom: 1.5em;
    margin-right: 1em;
    font-family: 'Amiri', serif;
    text-transform: none;
    font-size: 14px;
}

.menu-sub a:hover{
    text-decoration: underline;
    text-underline-offset: 1.5px;
}

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4
{
    float: left;
}

.menu-col-1{
    width: 16.6%;
}

.menu-col-2{
    width:20%;
}

.menu-col-3{
    width: 50%;
}

.menu-col-4{
    width: 100%;
}

#clothing-col-2{
    color: #fff;
}

/* Right side page menu */

.site-header-right{
    display: flex;
    align-items: center;
    margin-right: 0.5em;
    z-index: 0;
}

.container{
    display: inline-block;
    
}

.search-btn{
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 1px;
    font-weight: 500;
}

.site-header-right a{
    display: inline-block;
    margin-right: 20px;
}

.site-navigation {
    max-width: 100%;
  }

/* ------ main body content -------*/

main{
    width: 100%;
}

.feature-content img{
    width: 100%;
    filter: grayscale(10%);}

.summer-sale-container{
    position: relative;
}

.feature-text{
    position: absolute;
    bottom: 80px;
    left: 40px;
    color: #fefefe;
    border: none;
    outline: none;
}

.feature-text h2{
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 10px #555;
}

.feature-text p{
    font-size: 16px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 10px #555;
}

.feature-text p:last-child{
    padding-top: 20px;
}

/* ------ begin shopify section -------*/

.small-container{
    max-width:100%;
}

.row{
    display: flex;
    width: 100%;
}

.shopify-section{
    width: 100%;
}

.site-feature-grid{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.site-feature-grid-item{
    margin: 0 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;   
}

.item-container{
    overflow: hidden;
}

.site-feature-grid-item img{
    transition: transform .6s ease-in-out;
    padding: 0 1rem;
}
    

.site-feature-grid-item img:hover{
    transform: scale(1.03);
}


.grid-item-description h4{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left: 5px;
}

/* ------ Magazine -------*/

.magazine-section{
    width: 100%;
    height: 700px;
    background-color: #f7f6f1;
    display: flex;
    justify-content: center;
}

.section-heading{
    display: flex;
    justify-content: space-between;
    margin: 4em 2em 0;

}

.scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 40px 50px;
}

@media (max-width: 720px){
    .scrolling-wrapper {
      overflow-x: auto;
      margin: 20px 20px;
    }
}

.col-3{
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 4em;
    margin-right: 3em;
}

.col-3:first-child{
    margin-left: 3em;
}


.section-heading h3{
    font-size: 26px;
    font-weight: 100;
}

.section-heading h4{
    font-size: 16px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 5.5px;
    position: relative;
    padding-top: 20px;
}

.col-3{
    width: 410px;
}

.feature-story-grid{
    width: 100%;
}

.magazine-container{
    
    padding: 0 0.5em;
    max-width: 100%;
    height: 380px;
    display: inline-block;

}

.item-container img{
    object-fit: cover;
    margin-bottom: 20px;
    width: 100%;
    transition: transform .6s ease-in-out;
}

.item-container img:hover{
    transform: scale(1.03);
}

.magazine-container h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-left: 4px;
}

.magazine-container p {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
}

/* ------ Bottom section -------*/

.section-about-toast{
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}

.section-about-toast p{
    font-family: 'Amiri', serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 1.8em;
}

.about-subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-subheading p{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 40px;
    border-right: 1px solid #ebebeb;
    height: 35px;
}

.about-subheading p:last-child{
    padding-right: 0;
    border: none;
}

/* ------ Footer -------*/

.footer-container{
    width: 100%;
    display: inline-block;
}

.col-4{
    width: 25%;
}

.col-4:first-child{
    margin-left: 2em;
}

.col-5{
    width: 25%;
    margin-right: 3em;
}

.footer-grid{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.footer-grid ul{
    list-style-type: none;
    padding-left: 0;
}

.footer-col-1, .footer-col-2, .footer-col-3 ul li{
    font-size: 14px;
    line-height: 2.5;
}

.footer-grid h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: .05rem;
}

.footer-col-4 h3{
    margin-bottom: 20px;
}

.footer-col-4 p{
    margin-bottom: 30px;
    max-width: 410px;
    font-family: 'Amiri', serif;
    font-size: 18px;
}

.footer-col-4 input{
    margin-bottom: 30px;
    width: 350px;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Amiri', serif;
}

.footer-col-4 input:focus{
    outline: none;
}

.footer-col-4 span{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.08rem;
}

hr{
    border-top: 1px solid #000;
    margin-top: -25px;
    margin-bottom: 30px;
    max-width: 350;
}

.social-icons{
    letter-spacing: 0.3rem;
    fill: #000;
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: 0.2em;
}

.footer-container{
    margin: 0 auto;
    width: 100%;
}

.footer-misc{
    display: flex;
    align-items: center;
    border-top: 1px solid #ebebeb;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    width: 100%;
    height: 70px;
}

.site-footer_store-selector{
    align-items: center;
    display: flex;
    color: #000;
    text-transform: uppercase;
    font-size: 10.5px;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: 300px;
    margin-left: 1rem;
}

.site-footer_store-selector .flag-icon{
    background-size: cover;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}

.center-misc a{
    font-size: 12px;
    margin: 0 1rem;
}

.center-misc {
    display: flex;
    align-items: center;
}







/* ------ Media Queries -------*/

@media only screen and (max-width:380px){
    .toast-logo{
        display: block;
        margin: 30% !important;
    }
    .feature-text{
        position: relative;
    }
    
    .feature-text h2 {
        font-size: 14px;
    }

    .feature-text p{
        font-size: 12px;
    }
    .feature-text p:last-child{
        display: none;
    }
    .site-feature-grid{
        display: flex;
        align-items: center;
    }
    .site-feature-grid-item img{
        max-width: 200px;
        width: 100%;
        margin: 0 1rem;
    }
    .item-home{
        padding-top: 0;
        padding-left: 0;
    }
    
    .item-open{
        padding-top: 0;
        padding-left: 0;
    }
    
}

@media only screen and (max-width:500px) {
    .toast-logo{
        display: block;
        margin: 38% !important;
    }


    .feature-text{
        position: absolute;
        top: -4rem;
        left: 1rem;
        width: 250px;
    }
    
    .feature-text h2 {
        font-size: 18px;
    }

    .feature-text p:last-child{
        display: none;
    }
    
    .col-4{
        display: flex;
        justify-content: space-around;
        position: relative;
        margin: 0 1rem;
    }

    .site-feature-grid{
        display: flex;
        align-items: center;
    }
    .site-feature-grid-item img{
        max-width: 200px;
        width: 100%;
        margin: 0 1rem;
    }
    .item-home{
        padding-top: 0;
        padding-left: 0;
    }
    
    .item-open{
        padding-top: 0;
        padding-left: 0;
    }

    .social-icons{
        margin-top: 0.5rem;
        margin-left: 0.4rem;
    }
}

@media only screen and (max-width:650px) {
    .section-about-toast{
        display: none;
    }
    .footer-col-1, .footer-col-2, .footer-col-3 ul li{
        display: none;
    }

    .col-5{
        width: 100%;
        margin-right: 30%;
        margin-top: 1em;
    }

}


@media only screen and (max-width:1060px){
    .toast-logo{
        display: block;
        margin: 43%;
    }

    nav ul li a{
        color:black;
        font-size: 16px;
    }
    
    .site-header-right{
        display: block;
    }
    
    .site-header_store-selector{
        display: block;
    }
    .announcement-container{
        display: flex;
        justify-content: center;
    }
    .menu-hamburger{
        display: inline-block;
        font-size: 24px;
        margin: auto 0;
        cursor: pointer;
        position: absolute;
        left: 20px;
        top: 70px;
        z-index: 2;
    }
    .bag-menu-mobile{
        display: inline-block;
        font-size: 24px;
        margin: auto 0;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 80px;
        color: #555;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1.1;
    
    }

    .footer-grid{
        max-width: 240px;
    }
}

@media only screen and (max-width:1060px) {
    .site-header-right,
    .site-header_store-selector{
        display: none;
    }
}